@page
@model OralHealthManagement.Oral6CreateModel

@{
    ViewData["Title"] = "口腔衰弱六項指標";
}

    <h1>口腔衰弱六項指標</h1>

<hr />
<form method="post" id="CreateForm">
</form>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="control-group">
                @foreach (var item in ViewData.ModelState)
                {
                    if (item.Value.Errors.Any())
                    {
                        foreach (var e in item.Value.Errors)
                        {
                            <p class="text-danger">@e.ErrorMessage</p>
                        }
                    }
                }
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Oral6.Timestamp" class="control-label"></label>
                <input asp-for="Oral6.Timestamp" class="form-control" />
                <span asp-validation-for="Oral6.Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oral6.ChartNo" class="control-label"></label>
                <input asp-for="Oral6.ChartNo" class="form-control" />
                <span asp-validation-for="Oral6.ChartNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oral6.Q1" class="control-label"></label>
                <input asp-for="Oral6.Q1" class="form-control" />
                <span asp-validation-for="Oral6.Q1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_1" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_1" class="form-check-input" value="容易吃" id="Q2_1_0">
                    <label class="form-check-label" for="Q2_1_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_1" class="form-check-input" value="有些吃力" id="Q2_1_1">
                    <label class="form-check-label" for="Q2_1_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_1" class="form-check-input" value="不能吃" id="Q2_1_2">
                    <label class="form-check-label" for="Q2_1_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_2" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_2" class="form-check-input" value="容易吃" id="Q2_2_0">
                    <label class="form-check-label" for="Q2_2_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_2" class="form-check-input" value="有些吃力" id="Q2_2_1">
                    <label class="form-check-label" for="Q2_2_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_2" class="form-check-input" value="不能吃" id="Q2_2_2">
                    <label class="form-check-label" for="Q2_2_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_3" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_3" class="form-check-input" value="容易吃" id="Q2_3_0">
                    <label class="form-check-label" for="Q2_3_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_3" class="form-check-input" value="有些吃力" id="Q2_3_1">
                    <label class="form-check-label" for="Q2_3_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_3" class="form-check-input" value="不能吃" id="Q2_3_2">
                    <label class="form-check-label" for="Q2_3_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_4" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_4" class="form-check-input" value="容易吃" id="Q2_4_0">
                    <label class="form-check-label" for="Q2_4_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_4" class="form-check-input" value="有些吃力" id="Q2_4_1">
                    <label class="form-check-label" for="Q2_4_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_4" class="form-check-input" value="不能吃" id="Q2_4_2">
                    <label class="form-check-label" for="Q2_4_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_4" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_5" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_5" class="form-check-input" value="容易吃" id="Q2_5_0">
                    <label class="form-check-label" for="Q2_5_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_5" class="form-check-input" value="有些吃力" id="Q2_5_1">
                    <label class="form-check-label" for="Q2_5_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_5" class="form-check-input" value="不能吃" id="Q2_5_2">
                    <label class="form-check-label" for="Q2_5_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_5" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_6" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_6" class="form-check-input" value="容易吃" id="Q2_6_0">
                    <label class="form-check-label" for="Q2_6_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_6" class="form-check-input" value="有些吃力" id="Q2_6_1">
                    <label class="form-check-label" for="Q2_6_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_6" class="form-check-input" value="不能吃" id="Q2_6_2">
                    <label class="form-check-label" for="Q2_6_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_6" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_7" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_7" class="form-check-input" value="容易吃" id="Q2_7_0">
                    <label class="form-check-label" for="Q2_7_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_7" class="form-check-input" value="有些吃力" id="Q2_7_1">
                    <label class="form-check-label" for="Q2_7_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_7" class="form-check-input" value="不能吃" id="Q2_7_2">
                    <label class="form-check-label" for="Q2_7_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_7" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_8" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_8" class="form-check-input" value="容易吃" id="Q2_8_0">
                    <label class="form-check-label" for="Q2_8_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_8" class="form-check-input" value="有些吃力" id="Q2_8_1">
                    <label class="form-check-label" for="Q2_8_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_8" class="form-check-input" value="不能吃" id="Q2_8_2">
                    <label class="form-check-label" for="Q2_8_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_8" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_9" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_9" class="form-check-input" value="容易吃" id="Q2_9_0">
                    <label class="form-check-label" for="Q2_9_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_9" class="form-check-input" value="有些吃力" id="Q2_9_1">
                    <label class="form-check-label" for="Q2_9_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_9" class="form-check-input" value="不能吃" id="Q2_9_2">
                    <label class="form-check-label" for="Q2_9_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_9" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_10" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_10" class="form-check-input" value="容易吃" id="Q2_10_0">
                    <label class="form-check-label" for="Q2_10_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_10" class="form-check-input" value="有些吃力" id="Q2_10_1">
                    <label class="form-check-label" for="Q2_10_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_10" class="form-check-input" value="不能吃" id="Q2_10_2">
                    <label class="form-check-label" for="Q2_10_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_10" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_11" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_11" class="form-check-input" value="容易吃" id="Q2_11_0">
                    <label class="form-check-label" for="Q2_11_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_11" class="form-check-input" value="有些吃力" id="Q2_11_1">
                    <label class="form-check-label" for="Q2_11_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_11" class="form-check-input" value="不能吃" id="Q2_11_2">
                    <label class="form-check-label" for="Q2_11_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_11" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_12" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_12" class="form-check-input" value="容易吃" id="Q2_12_0">
                    <label class="form-check-label" for="Q2_12_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_12" class="form-check-input" value="有些吃力" id="Q2_12_1">
                    <label class="form-check-label" for="Q2_12_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_12" class="form-check-input" value="不能吃" id="Q2_12_2">
                    <label class="form-check-label" for="Q2_12_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_12" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_13" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_13" class="form-check-input" value="容易吃" id="Q2_13_0">
                    <label class="form-check-label" for="Q2_13_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_13" class="form-check-input" value="有些吃力" id="Q2_13_1">
                    <label class="form-check-label" for="Q2_13_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_13" class="form-check-input" value="不能吃" id="Q2_13_2">
                    <label class="form-check-label" for="Q2_13_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_13" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q2_14" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_14" class="form-check-input" value="容易吃" id="Q2_14_0">
                    <label class="form-check-label" for="Q2_14_0">
                        容易吃
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_14" class="form-check-input" value="有些吃力" id="Q2_14_1">
                    <label class="form-check-label" for="Q2_14_1">
                        有些吃力
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q2_14" class="form-check-input" value="不能吃" id="Q2_14_2">
                    <label class="form-check-label" for="Q2_14_2">
                        不能吃
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q2_14" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q3_1" class="control-label"></label>
                <input asp-for="Oral6.Q3_1" class="form-control" />
                <span asp-validation-for="Oral6.Q3_1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q3_2" class="control-label"></label>
                <input asp-for="Oral6.Q3_2" class="form-control" />
                <span asp-validation-for="Oral6.Q3_2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q3_3" class="control-label"></label>
                <input asp-for="Oral6.Q3_3" class="form-control" />
                <span asp-validation-for="Oral6.Q3_3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q3_4" class="control-label"></label>
                <input asp-for="Oral6.Q3_4" class="form-control" />
                <span asp-validation-for="Oral6.Q3_4" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q4_1_1" class="control-label"></label>
                <input asp-for="Oral6.Q4_1_1" class="form-control" />
                <span asp-validation-for="Oral6.Q4_1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oral6.Q4_1_2" class="control-label"></label>
                <input asp-for="Oral6.Q4_1_2" class="form-control" />
                <span asp-validation-for="Oral6.Q4_1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oral6.Q4_1_3" class="control-label"></label>
                <input asp-for="Oral6.Q4_1_3" class="form-control" />
                <span asp-validation-for="Oral6.Q4_1_3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q4_2_1" class="control-label"></label>
                <input asp-for="Oral6.Q4_2_1" class="form-control" />
                <span asp-validation-for="Oral6.Q4_2_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oral6.Q4_2_2" class="control-label"></label>
                <input asp-for="Oral6.Q4_2_2" class="form-control" />
                <span asp-validation-for="Oral6.Q4_2_2" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="Oral6.Q4_2_3" class="control-label"></label>
                <input asp-for="Oral6.Q4_2_3" class="form-control" />
                <span asp-validation-for="Oral6.Q4_2_3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q5" class="control-label"></label>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q5" class="form-check-input" value="false" id="Q5_0">
                    <label class="form-check-label" for="Q5_0">
                        否
                    </label>
                </div>
                <div class="form-check ">
                    <input type="radio" asp-for="Oral6.Q5" class="form-check-input" value="true" id="Q5_1">
                    <label class="form-check-label" for="Q5_1">
                        是
                    </label>
                </div>
                <span asp-validation-for="Oral6.Q5" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Oral6.Q6" class="control-label"></label>
                <input asp-for="Oral6.Q6" class="form-control" />
                <span asp-validation-for="Oral6.Q6" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
